{
	"plugins": [
		[
			"babel-plugin-root-import",
			{
				"paths": [
					{
						"rootPathSuffix": "./src/assets",
						"rootPathPrefix": "./img"
					},
					{
						"rootPathSuffix": "./src/feed",
						"rootPathPrefix": "./feed"
					}
				]
			}
		]
	]
}