.listing {
	padding: 50px 15px;

	.row {
		div[class*="col-md"]{
			margin-bottom: 65px;

			&:nth-last-child(1), &:nth-last-child(2){
				margin-bottom: 30px;
			}
		}

		@media only screen and (max-width: 768px) {
			div[class*="col-md"]:nth-last-child(2) {
				margin-bottom: 65px;
			}

			div[class*="col-md"]:nth-last-child(1) {
				margin-bottom: 20px;
			}
		}
	}

	.cardContainer {
		.img {
			position: relative;

			.lazy-load-image-background {
				display: block !important;
				width: 100%;
				background-color: #d9d9d9;

				img {
					width: 100% !important;
				}
			}
		}

		.content {
			min-height: auto;
			padding: 5px 0px;

			.title {
				font-weight: 700;
				font-size: 26px;
				margin: 25px 0px;
				padding: 0px;
				color: #1A1A1A;
				min-height: 60px;

				@media only screen and (max-width: 768px) {
					min-height: auto;
				}
			}

			.link {
				display: inline-block;

				a {
					text-transform: uppercase;
					color: #3852F7;
					font-weight: 700;
					font-size: 13px;
					display: inline-block;
					align-items: center;
					text-decoration: none;

					&:hover {
						opacity: 0.5;
					}
				}

				svg {
					margin-right: 16px;
					margin-bottom: 2px;
				}
			}
		}
	}
}