.single {
	padding: 50px 15px;

	.row {
		justify-content: space-between;

		div[class*="col-md"]{
			margin-bottom: 30px;

			&:nth-child(2){
				display: flex;
				align-items: center;
			}
		}
	
		.custCol {
			&:nth-child(1) {
				width: 100%;
				max-width: 682px;
			}

			&:nth-child(2) {
				width: 100%;
				max-width: 600px;
			}
		}

		@media only screen and (max-width: 768px) {
			div[class*="col-md"]:nth-child(2) {
				margin-bottom: 0px;

				.content {
					width: 100%;
				}
			}

			.custCol {
				max-width: inherit !important;
			}
		}
	}

	.cardContent {
		background-color: transparent;
		border: 0px;

		.img {
			position: relative;

			.lazy-load-image-background {
				display: block !important;
				width: 100%;
				background-color: #d9d9d9;

				img {
					width: 100% !important;
				}
			}
		}

		.content {
			min-height: auto;
			padding: 20px 0px;

			@media only screen and (max-width: 768px) {
				padding-bottom: 0px;
			}

			.title {
				font-weight: 700;
				font-size: 68px;
				margin: 0px;
				padding: 0px;
				color: #1A1A1A;
			}

			.sort {
				display: flex;

				button {	
					text-transform: uppercase;
					color: #3852F7;
					font-weight: 700;
					font-size: 13px;
					display: flex;
					align-items: center;
					text-decoration: none;
					border: 0px;
					background-color: transparent;
					padding: 0px;
					margin: 10px 0px;

					svg {
						margin-left: 12px;
						transition: 0.25s;
					}

					&:hover {
						opacity: 0.5;
					}
				}

				.rot {
					transform: rotate(360deg);
				}
			}

			.questions{
				margin-top: 15px;

				div {
					margin-bottom: 35px;

					&:nth-last-child(1){
						margin-bottom: 0px;

						p{
							margin-bottom: 0px;
						}
					}
				}

				h1 {
					font-weight: 700;
					font-size: 32px;
					margin: 0px;
					padding: 0px;
					color: #000000;
				}

				h3 {
					text-transform: uppercase;
					color: #A4A4A4;
					font-weight: 700;
					font-size: 13px;
					display: flex;
					align-items: center;
					text-decoration: none;
					margin: 5px 0px;
					margin-bottom: 9px;

					svg {
						margin-right: 16px;
						margin-bottom: 2px;
					}
				}

				p {
					font-family: Merriweather;
					font-weight: 300;
					font-size: 17px;
					line-height: 28px;
					color: #333333;
					margin-bottom: 25px;

					&::first-letter{
						text-transform: uppercase;
					}
				}
			}
		}
	}
}